[Unit]
Description=BertiBox MP3 Player Service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/git/BertiBox
ExecStart=/home/pi/git/BertiBox/venv/bin/python3 /home/pi/git/BertiBox/main.py
Restart=always
RestartSec=10
StandardOutput=append:/home/pi/bertibox-player.log
StandardError=append:/home/pi/bertibox-player.log

[Install]
WantedBy=multi-user.target 