[Unit]
Description=BertiBox Web Interface Service
After=network.target bertibox-player.service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/git/BertiBox
ExecStart=/home/pi/git/BertiBox/venv/bin/python3 /home/pi/git/BertiBox/web_interface.py
Restart=always
RestartSec=10
StandardOutput=append:/home/pi/bertibox-web.log
StandardError=append:/home/pi/bertibox-web.log

[Install]
WantedBy=multi-user.target 